extends front

block meta
	mixin meta('Reset password', '')

block form
	h5 Please enter a new password:
				
	form.signup(action="", method="post")
		input(type="password", name="password", placeholder="password", class=(error == "password" ? "error" : ""))
		- if (error == "password") 
			p.error Please enter a password
						
		input(type="password", name="passwordRepetition", placeholder="password (again)", class=(error == "passwordRepetition" ? "error" : ""))
		- if (error == "passwordRepetition") 
			p.error Try again... your passwords did not match
		
		input(type="submit", name="reset", value="Reset", class="action-button")
		p.login or <a href="login">Log in</a>