| Hey there dear Updatified user!
| 
| A password reset for your account was requested. Click this link to complete it:
| #{link}
| 
| If you don't want to reset your password, just delete this email.
| 
| Thanks for using Updatified!